/* color's we are using */

:root{
    --bgcolor:#F1F5F8;
    --white:#FFFFFF;
    --primary-blue:#A4E7FA;
    --secondary-blue:#48A6E9;
    --light-blue:#6F96B8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgcolor);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* our review */
.container{
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vh;
    /* padding: 2rem; */
}

/* title */
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.title h1{
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
}
.underline{
    width: 80px;
    height: 3px;
    background-color: var(--secondary-blue);
}

/* review */
.review{
    background-color: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* image .container */
.img-container{
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    /* padding: 1rem 1.5rem; */
    /* background-color: var(--secondary-blue); */
    margin-bottom: 1.5rem;
    /* position: relative; */
}
#img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* position: relative; */
    /* display: block; */
    

}

#author{
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.50rem;
    text-align: center;
}
#job{
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.50rem;
    color: var(--secondary-blue);
    text-align: center;
    text-transform: uppercase;;  
}
#info{
    font-size: 1rem;
    text-align: center;
    color: var(--light-blue);
    margin-bottom: 0.75rem;
    height: 80px;
}

/* previous and next button */
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.50rem;
    font-size: 1.5rem;
}
.prev-btn, .next-btn{
    color: var(--primary-blue);
    margin-left: 0.50rem;
    margin-right: 0.50rem;
}
.prev-btn:hover{
    color: var(--secondary-blue);
}
.next-btn:hover{
    color: var(--secondary-blue);
}

/* random button */
.random-btn{
    padding: 0.50rem;
    color: var(--secondary-blue);
    font-size: 1rem;
    border: solid 2px var(--primary-blue);
    border-radius: 15px;
}
.random-btn:hover{
    background-color: var(--secondary-blue);
    transition-property:background-color;
    transition-duration:500ms;
    transition-timing-function:ease-in-out;
    color: black;
}